<div class="menuBarContainer" [ngClass]="{'disableHover' : removeHover == ''}">
    <div class="menuBar">
        <ul>
            <li *ngFor="let list of menuTabs let i = index" (mouseover)="loadMenus(i , list)">
                <a>
                    <img src="{{list.imgurl}}"><br *ngIf="list.name">{{list.name}}
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="menuListTabs">
        <ng-container *ngTemplateOutlet="menuListTable"></ng-container>
    </div>
</div>

<ng-template #menuListTable>
    <div class="Menucolumn">
        <div *ngFor="let menuList of column1" [ngClass]="{'level0' : menuList.level == 0 , 'level1' : menuList.level == 1 , 'level2' : menuList.level == 2}">
            <a>{{menuList.menuName}}</a>
        </div>
    </div>
    <div class="Menucolumn">
        <div *ngFor="let menuList of column2" [ngClass]="{'level0' : menuList.level == 0 , 'level1' : menuList.level == 1 , 'level2' : menuList.level == 2}">
            <a>{{menuList.menuName}}</a>
        </div>
    </div>
    <div class="Menucolumn">
        <div *ngFor="let menuList of column3" [ngClass]="{'level0' : menuList.level == 0 , 'level1' : menuList.level == 1 , 'level2' : menuList.level == 2}">
            <a>{{menuList.menuName}}</a>
        </div>
    </div>
    <div class="Menucolumn">
        <div *ngFor="let menuList of column4" [ngClass]="{'level0' : menuList.level == 0 , 'level1' : menuList.level == 1 , 'level2' : menuList.level == 2}">
            <a>{{menuList.menuName}}</a>
        </div>
    </div>
</ng-template>